  <a href="/posts/{{id}}" style="text-decoration: none;" class="w-75 h-200px bg-light mt-1 mb-1">
    <div class="card d-flex flex-column w-100 h-200px">
      <div class="card-body text-dark">
        <h5 class="card-title">{{title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{user.username}}</h6>
        <p>Posted on: {{format_time date}}</p>
        <p class="card-text">{{description}}</p>
      </div>
    </div>
  </a>