{{!-- if not logged in, they see "Log in to add a comment" --}}
<div class="card" style="width: 100%">
  <div class="card-body">
    <h1 class="card-title">{{post.title}}</h1>
    <h6 class="card-subtitle mb-2 text-muted">by {{post.user.username}}</h6>
    <p class="card-text">{{post.description}}</p>
    <br/>
    <h5 class="card-title">Comments</h5>
    {{#each post.comments}}
    <div class="card">
      <div class="card-body">
        {{comment}}
      </div>
      <h6 class="card-subtitle mb-2 text-muted">- {{username}}</h6>
    </div>
    {{/each}}
    {{#if loggedIn}}
    <div id="commentAddContainer">
      <label for="addComment" class="form-label">Add a comment:</label>
      <textarea class="form-control" id="addComment" style="resize: none;"></textarea>
      <button id="commentBtn" type="submit" class="btn btn-primary">Post!</button>
    </div>
  </div>
</div>
    {{else}}
    <h4><a href="/login">Log in</a> to leave a comment!</h4>
  </div>
</div>
    {{/if}}

    {{#if loggedIn}}
<script src="./post.js"></script>
    {{/if}}